html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a, button {
  cursor: pointer;
}

a, button, input {
  &:focus {
    outline: none;
  }
}
