.btn_orange {
  padding: 0;
  border: none;
  background: #f21780; /* Old browsers */
  background: linear-gradient(to left, #fd712c 0%,#f21780 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f21780', endColorstr='#fd712c',GradientType=1 ); /* IE6-9 */
  box-shadow: 0 10px 30px rgba(243, 30, 122, 0.3);
  line-height: 40px;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  border-radius: 2px;
}

.btn_blue {
  padding: 0;
  border: none;
  line-height: 40px;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 10px 30px rgba(0, 172, 251, 0.3);
  border: 1px solid #ffffff;
  background-color: #f7fafc;
  background-image: linear-gradient(to right, #00acfb 0%, #00d0fb 100%);
}

.btn_blue_c {
  padding-left: 25px;
  padding-right: 25px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #eeeeee;
  background-color: #f7fafc;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  transition: all 0.3s ease;
  &:hover, &.active {
    background-color: #00a7f0;
    color: #ffffff;
  }
}



.btn_red_c {
  padding-left: 25px;
  padding-right: 25px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #eeeeee;
  background: #f21780; /* Old browsers */
  background: linear-gradient(to left, #fd712c 0%,#f21780 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f21780', endColorstr='#fd712c',GradientType=1 ); /* IE6-9 */
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(243, 30, 122, 0.3);
  &:hover, &.active {
    background-color: #f7fafc;
    color: #333333;
  }
}