.wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #666;
}

.side {
  flex-basis: 285px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #23252f;
  color: #ffffff;
  transition: all 0.3s ease;
  .logo {
    background-color: #232833;
    height: 80px;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    .img {
      width: 100px;
      // max-width: 100%;
      height: auto;
    }
    .partners {
      .value {
        font-size: 50px;
        line-height: 0.8;
      }
      .description {
        font-size: 12px;
        line-height: 1;
      }
    }
  }
  &.min {
    flex-basis: 50px;
  }
  .nav {
    &__item {
      color: #999999;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      border: none;
      padding: 0;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s ease;
      width: 100%;
      .icon {
        width: 6px;
        height: 9px;
      }
      &:hover {
        color: #05cd8d;
        background-color: #171820;
      }
      &.active {
        background-color: #171820;
        color: #05cd8d;
      }
    }
  }
}

.page {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #f7fafc;
  padding: 150px 30px 70px 30px;
  position: relative;
  overflow-y: auto;
  &__header {
    color: #17cdef;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
}

.header {
  height: 80px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;  padding: 0 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .toggle_close_nav {
    padding: 0;
    border: none;
    background-color: rgba($color: #000000, $alpha: 0);
    width: 20px;
    padding-left: 6px;
    position: relative;
    transition: all 0.3s ease;
    .line {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #000000;
      margin: 3px 0;
      transition: all 0.3s ease;
      &::after {
        position: absolute;
        content: '';
        display: block;
        height: 100%;
        width: 2px;
        background-color: #000000;
        left: -6px;
        top: 0;
        transition: all 0.3s ease;
      }
    }
    &.close {
      padding-left: 0;
      .line {
        margin: 0;
        &::after {
          left: 0;
          opacity: 0;
        }
        &.line_center {
          opacity: 0;
        }
        &:first-child {
          transform: rotate(45deg) translateY(3px);
        }
        &:last-child {
          transform: rotate(-45deg) translateY(-3px);
        }
      }
    }
  }
  .icon_buttons {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 120px;
    .btn_holicash {
      display: flex;
      border: none;
      background-color: transparent;
      align-items: center;
      color: #666666;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      margin-right: 29px;
      .icon {
        margin-right: 5px;
      }
    }
    .btn_icon {
      border: none;
      background-color: transparent;
      position: relative;
      .value {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        position: absolute;
        top: -10px;
        right: -10px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.notifications {
        margin-right: 30px;
        .value {
          background-color: #05cd8d;
          background-image: linear-gradient(to top, #00ceff 0%, #01ffa3 100%);
        }
      }
      &.gifs {
        .value {
          background-color: #05cd8d;
          background-image: linear-gradient(to top, #ff006e 0%, #fb612a 100%);
        }
      }
    }
  }
  .profile {
    position: relative;
    .photo {
      width: 46px;
      height: 46px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: 3px solid #ffffff;
      background-color: #f6514c;
      cursor: pointer;
      padding: 0;
    }
    .status {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 16px;
      height: 16px;
      box-shadow: 0 10px 20px rgba(53, 185, 216, 0.3);
      border-radius: 50%;
      border: 3px solid #ffffff;
      background-color: #339f24;
      background-image: linear-gradient(to top, #36b9d8 0%, #4bffa2 100%);
    }
    &_nav {
      position: absolute;
      top: 63px;
      right: 0;
      display: flex;
      flex-direction: column;
      width: 192px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
      border-radius: 0 0 3px 3px;
      background-color: #ffffff;
      padding-top: 20px;
      padding-bottom: 30px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease;
      z-index: 1;
      &.active {
        visibility: visible;
        opacity: 1;
      }
      .btn {
        padding: 5px;
        width: 100%;
        border: 0;
        background-color: transparent;
        text-align: left;

        padding-left: 20px;

        color: #666666;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        &:hover {
          color: #05cd8d;
        }
      }
    }
  }
}