.profile_page {
  display: flex;
  .profile_side_block {
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #ffffff;
    padding: 30px;
    margin-right: 25px;
    .photo {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      border: 8px solid #75ffea;
      background-color: #858585;
      margin: 0 auto 12px;
    }
    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: -10px;
      &::before {
        display: inline-block;
        content: '';
        background-color: #00e281;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .name, .clan, .city {
      text-align: center;
    }
    .name, .clan {
      color: #333333;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
    }
    .city {
      color: #999999;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
    }
  }
  
  .profile_edit {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #ffffff;
    flex-grow: 1;
    padding: 30px;
    position: relative;
    .tabs_btns {
      position: absolute;
      top: 30px;
      right: 30px;
      .btn {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .tab_section {
      .section_header {
        color: #333333;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 15px;
        .section_main_header {
          margin-bottom: 5px;
        }
        .section_sub_header {
          color: #a19e9e;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .section_content {
        .input {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }
        .input_wrap {
          display: flex;
          .input {
            flex-grow: 1;
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .profile_edit_controls {
      padding-top: 30px;
      display: flex;
      align-items: center;
      .status {
        flex-grow: 1;
        font-size: 13px;
        font-weight: 300;
      }
      .btn {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}