<template>
  <div>
    <h2 class="page__header">Профиль</h2>
    <div class="profile_page">
      <div class="profile_side_block">
        <div class="photo"></div>
        <div class="name">{{ profile.name }}</div>
        <div class="clan">HoliClan</div>
        <div class="city">г. {{ profile.city }}</div>
      </div>
      <div class="profile_edit">
        <div class="tabs_btns">
          <button class="btn btn_blue_c" @click="tab('info')" :class="{ active: open_tab === 'info' }">Информация</button>
          <button class="btn btn_blue_c" @click="tab('photo')" :class="{ active: open_tab === 'photo' }">Фото</button>
          <button class="btn btn_blue_c" @click="tab('socials')" :class="{ active: open_tab === 'socials' }">Соцсети</button>
          <button class="btn btn_blue_c" @click="tab('security')" :class="{ active: open_tab === 'security' }">Безопасность</button>
        </div>
        <div class="tab_section" v-if="open_tab === 'info'">
          <div class="section_header">
            <div class="section_main_header">Личная информация</div>
            <div class="section_sub_header">Договор №745VR</div>
          </div>
          <div class="section_content">
            <input class="input" type="text" placeholder="Имя" v-model="profile.name">
            <input class="input" type="text" placeholder="Фамилия" v-model="profile.s_name">
            <input class="input" type="text" placeholder="Отчество" v-model="profile.f_name">
            <input class="input" type="email" placeholder="Корморативный e-mail" v-model="profile.email">
            <input class="input" type="tel" placeholder="Телефон" v-model="profile.phone">
            <div class="input_wrap" v-for="location in profile.locations" :key="location.id">
              <input class="input" type="text" placeholder="Город">
              <input class="input" type="text" placeholder="Улица">
              <input class="input" type="text" placeholder="Дом, Строение">
              <input class="input" type="text" placeholder="Офис">              
            </div>
            <textarea class="input" name="" id="" placeholder="Ваша история" v-model="profile.story"></textarea>
          </div>
        </div>
        <div class="tab_section" v-if="open_tab === 'photo'">
          <div class="section_header">Фото</div>
        </div>
        <div class="tab_section" v-if="open_tab === 'socials'">
          <div class="section_header">Социальные сети</div>
        </div>
        <div class="tab_section" v-if="open_tab === 'security'">
          <div class="section_header">Безопасность</div>
            <div class="section_content">
              Сена пароля:
              <div class="input_wrap">
                <input class="input" type="password" placeholder="Новый пароль" v-model="profile.password">
                <input class="input" type="password" placeholder="Повторите пароль" v-model="profile.d_password">           
              </div>
            </div>
        </div>
        <div class="profile_edit_controls">
          <div class="status">{{ status }}</div>
          <button class="btn btn_blue_c" @click="get_profile">Отмена</button>
          <button class="btn btn_red btn_red_c" @click="save_profile">Сохранить настройки</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from '../libs/config.js'
  import cookie from '../libs/cookie.js'
  const myApi = axios.create(config.AXIOS_CONF);

  export default {
    props: ['id'],
    data () {
      return {
        open_tab: 'info',
        status: null,
        profile: {
          id: this.$route.params.id ? this.$route.params.id : this.id,
          name: null,
          s_name: null,
          f_name: null,
          phone: null,
          email: null,
          locations: [],
          story: null,
          city: null,
          password: null,
          d_password: null,
          secure: false
        }
      }
    },
      watch: {
      '$route' (to, from) {
        this.profile.id = this.$route.params.id ? this.$route.params.id : this.id;
        this.get_profile(); 
      }
    },
    beforeRouteUpdate (to, from, next) {
    },
    methods: {
      tab: function (tab) {
        this.open_tab = tab;
      },
      get_profile: function () {     
        var data = new FormData();
        data.append("data", JSON.stringify({id: this.profile.id}));
        myApi.post(config.PATH.users.profile, data)
          .then(function (response) {
            if (response.data.error === 0) {
              console.log(response);
              this.profile.name = response.data.data.name;
              this.profile.s_name = response.data.data.s_name;
              this.profile.f_name = response.data.data.f_name;
              this.profile.city = response.data.data.city;
              this.profile.story = response.data.data.story;
              this.profile.email = response.data.data.email;
              this.profile.phone = response.data.data.phone;
              for (let index = 0; index < response.data.data.locations.length; index++) {
                const element = response.data.data.locations[index];
                this.profile.locations.push(element);
              }
              if (!this.profile.name) {
                this.status = 'Заполните профиль'
              }
            } else {
              //Произошла ошибка
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      },
      save_profile: function () {
        var profile = 
          this.profile.name &&
          this.profile.s_name &&
          this.profile.f_name &&
          this.profile.email &&
          this.profile.phone;

          if (profile) {
            var data = new FormData();
            if (this.profile.password) {
              if (this.profile.password === this.profile.d_password) {
                this.profile.secure = true;
              }
            }
            data.append("data", JSON.stringify(this.profile));
            myApi.post(config.PATH.users.edit, data)
              .then(function (response) {
                if (response.data.error === 0) {
                  console.log(response);
                  this.status = 'Профииль изменён';
                } else {
                  //Произошла ошибка
                  this.status = 'Ошибка';
                }
              }.bind(this))
              .catch(function (error) {
                console.log(error);
              });
          } else {
            console.log('Fuck!');
            this.status = 'Заполните обязательные поля'
          }
      }
    },
    mounted: function () {
      this.get_profile();
    }
  }
</script>