@import "import/base";
@import "import/buttons";
@import "import/cabinet";
@import "import/profile";

.input {
  padding-left: 20px;
  line-height: 40px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  background-color: #f7fafc;
  font-size: 14px;
  font-weight: 400;
  &:placeholder {
    color: #666666;
  }

}

.sign_in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fd712c; /* Old browsers */
  background: linear-gradient(to right, #fd712c 0%,#f21780 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd712c', endColorstr='#f21780',GradientType=1 ); /* IE6-9 */
  &__header {
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    .logo {
      max-width: 100%;
      height: auto;
    }
  }
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 410px;
    border-radius: 4px;
    overflow: hidden;
    .form {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 80px 30px 50px;

      .error {
        text-align: center;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &__text {
          color: #fd712c;
        }
        .btn_forget {
          border: none;
          background-color: transparent;
          padding: 0;
          font-size: 14px;
          color: #333333;
          text-decoration: underline;
        }
      }


      &__inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .input {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .remember {
        margin-bottom: 50px;
        .checkbox {
          margin-right: 14px;
        }
      }
      .forget {
        text-align: center;
        .description {
          font-size: 14px;
          color: #666666;
          margin-bottom: 13px;
        }
        .btn_signup {
          border: none;
          background-color: transparent;
          padding: 0;
          font-size: 14px;
          color: #333333;
          text-decoration: underline;
        }
      }
      .btn_orange {
        margin-bottom: 32px;
      }
    }
  }
}


.sign_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fd712c; /* Old browsers */
  background-image: linear-gradient(to right, #4bffa2 0%, #36b9d8 100%);
  &__header {
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    .logo {
      max-width: 100%;
      height: auto;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 410px;
    border-radius: 4px;
    overflow: hidden;
    .form {
      display: flex;
      flex-direction: column;
      padding: 80px 30px 50px;
      &__inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .input {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .forget {
        text-align: center;
        .description {
          font-size: 14px;
          color: #666666;
          margin-bottom: 13px;
        }
        .btn_forget {
          border: none;
          background-color: transparent;
          padding: 0;
          font-size: 14px;
          color: #333333;
          text-decoration: underline;
        }
      }
      .btn_blue {
        margin-bottom: 32px;
      }
    }
  }
}


.forget_page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff; /* Old browsers */
  background-image: linear-gradient(to right, #00d0fb 0%, #00a9fb 100%);  
  &__header {
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    .logo {
        max-width: 100%;
        height: auto;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 410px;
    border-radius: 4px;
    overflow: hidden;
    .form {
      display: flex;
      flex-direction: column;
      padding: 80px 30px 50px;
      &__inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .input {
          margin-bottom: 30px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .forget {
        text-align: center;
        .description {
          font-size: 14px;
          color: #666666;
          margin-bottom: 13px;
        }
        .btn_forget {
          border: none;
          background-color: transparent;
          padding: 0;
          font-size: 14px;
          color: #333333;
          text-decoration: underline;
        }
      }
      .btn_blue {
        margin-bottom: 32px;
      }
    }
  }
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}