<template>
  <div class="wrap">
    <div class="side" v-bind:class="{ min: show_nav }">
      <div class="logo">
        <img class="img" src="./images/logo.png" alt="Holyday-Paint" srcset="./images/logo.png 2x" />
        <div class="partners">
          <div class="value">54</div>
          <div class="description">партнера</div>
        </div>
      </div>
      <nav class="nav">
        <button class="nav__item" v-bind:class="{ active: $route.params.page === 'report' }" @click="page('report')">
          <div>Сводка</div>
          <img src="./images/icons/nav_arrow.png" alt="" class="icon">
        </button>
      </nav>
    </div>
    <div class="page">
      <header class="header">
        <button class="toggle_close_nav"  v-bind:class="{ close: !show_nav }" @click="show_nav = !show_nav">
          <span class="line"></span><span class="line line_center"></span><span class="line"></span>
        </button>
        <div class="icon_buttons">
          <button class="btn_holicash">
            <img class="icon" src="./images/icons/holicash.png" alt="">
            <div class="text">{{ user.holicash }} Holicash</div>
          </button>
          <button class="btn_icon notifications">
            <img src="./images/icons/notifications.png" alt="" class="icon">
            <div class="value">3</div>
          </button>
          <button class="btn_icon gifs">
            <img src="./images/icons/gifs.png" alt="" class="icon">
            <div class="value">3</div>
          </button>
        </div>
        <div class="profile">
          <button class="photo" @click="show_profile_nav = !show_profile_nav">
            <img class="img" src="" alt="">
            <div class="status"></div>
          </button>
          <div class="profile_nav" v-bind:class="{ active: show_profile_nav }">
            <button class="btn" type="button" @click="page('profile')">Мой профиль</button>
            <button class="btn" type="button">Мой календарь</button>
            <button class="btn" type="button">База знаний</button>
            <button class="btn" type="button">Подписчики</button>
            <div class="line"></div>
            <button class="btn" type="button">Онлайн</button>
            <button class="btn" type="button">Заблокировать</button>
            <button class="btn" type="button" @click="logout">Выйти</button>

          </div>
        </div>
      </header>
      <div class="container">
        <Profile v-if="$route.params.page === 'profile'" v-bind="[user, param]"/>
        <Report v-if="$route.params.page === 'report'"/>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from './libs/config.js'
  import cookie from './libs/cookie.js'
  const myApi = axios.create(config.AXIOS_CONF);

  const Profile = () => import('./pages/Profile.vue');
  const Report = () => import('./pages/Report.vue');



  export default {
    props: ['id', 'secure', 'level'],
    components: {
      Profile,
      Report
    },
    data () {
      return {
        param: {
          profile_id: this.$route.params.id
        },
        user: {
          id: this.id,
          sucure: this.secure,
          level: this.level,
          holicash: null
        },
        show_nav: false,
        show_profile_nav: false
      }
    },
    methods: {
      get_profile: function () {
        var data = new FormData();     
        data.append("data", JSON.stringify({id: this.id}));

        myApi.post(config.PATH.users.profile, data)
          .then(function (response) {
            if (response.data.error === 0) {
              console.log(response);
              this.user.holicash = response.data.data.points;
            } else {
              //Произошла ошибка, отчистить куки и выйти
              this.logout();
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      },
      page: function (page) {
        this.show_profile_nav = false;
        this.$router.push({ path: '/'+page });
      },
      logout: function () {
        cookie.deleteCoocie('id');
        cookie.deleteCoocie('secure');
        this.$router.push({ path: '/signin' });
      }
    },
    mounted: function () {
      this.get_profile();
    }
  }
</script>