<template>
  <div class="sign_up">
    <div class="sign_up__form">
      <div class="sign_up__header">
        <img class="logo" src="./images/logo_gray.png" alt="Holiday-Paint">
      </div>
      <form class="form" action="">
        <div class="form__inputs">
          <input class="input" type="email" placeholder="E-Mail" v-model="user.email">
          <!-- <input class="input" type="password" placeholder="Password" v-model="user.password"> -->
          <!-- <input class="input" type="text" placeholder="Duble Password"> -->
          <!-- <input class="input" type="text" placeholder="Invite Code"> -->
        </div>
        <button class="btn_blue" @click.prevent="signin">Востановить пароль</button>
        <div class="forget">
          <button class="btn_forget" type="button">Я вспомнил пароль</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import config from './libs/config.js'
import cookie from './libs/cookie.js'


const myApi = axios.create({
  baseURL: config.API_URL,
  headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
  }
});


  export default {
    data () {
      return {
        user: {
          email: '',
          password: ''
        }
      }
    },
    methods: {
      signin: function () {
        var url = config.PATH.users.auth;
        var data = new FormData();
        data.append("data", JSON.stringify(this.user));
        data = {
          email: this.user.email,
          password: this.user.password
        }
        myApi.post(url, data )
          .then(function (response) {
            console.log(response);
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  }
</script>
