<template>
  <div>
    <transition name="fade">
      <div v-if="page === 'signin'" class="sign_in">
        <div class="sign_in__form">
          <div class="sign_in__header">
            <img class="logo" src="./images/logo_gray.png" alt="Holiday-Paint">
          </div>
          <form class="form" action="">
            <transition name="fade">
              <div v-if="error" class="error">
                <div class="error__text">Неверный пароль или e-mail</div>
                <button class="btn_forget" @click="page = 'forget'" type="button">Забыли пароль?</button>
              </div>
            </transition>
            <div class="form__inputs">
              <input class="input" type="email" placeholder="E-Mail" v-model="user.email" required>
              <input class="input" type="password" placeholder="Пароль" v-model="user.password" required>
            </div>
            <div class="remember">
              <input class="checkbox" type="checkbox" name="remember" id="remember">
              <label for="remember">Запомнить меня</label>
            </div>
            <button class="btn_orange" @click.prevent="signin">Вход</button>
            <div class="forget">
              <div class="description">Ещё нет аккаунта?</div>
              <button class="btn_signup" type="button" @click="page = 'signup'">Запросить доступ</button>
            </div>
          </form>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div v-if="page === 'signup'" class="sign_up">
        <div class="sign_up__form">
          <div class="sign_up__header">
            <img class="logo" src="./images/logo_gray.png" alt="Holiday-Paint">
          </div>
          <form class="form" action="">
            <div class="form__inputs">
              <input class="input" type="email" placeholder="E-Mail" v-model="user.email">
              <input class="input" type="password" placeholder="Пароль" v-model="user.password">
              <input class="input" type="password" placeholder="Повторите праоль" v-model="user.d_password">
              <input class="input" type="text" placeholder="Введите код-активатор" v-model="user.invite">
            </div>
            <button class="btn_blue" @click.prevent="signup">Регистрация</button>
            <div class="forget">
              <div class="description">У вас уже есть аккаунт?</div>
              Нажмите <button class="btn_forget" type="button" @click="page = 'signin'">Войти</button>
            </div>
          </form>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div v-if="page === 'forget'" class="forget_page">
        <div class="forget_page__form">
          <div class="forget_page__header">
            <img class="logo" src="./images/logo_gray.png" alt="Holiday-Paint">
          </div>
          <form class="form" action="">
            <transition name="fade">
              <div v-if="error_forget" class="error">
                <div class="error__text">Такой e-mail не зарегестрирован</div>
              </div>
            </transition>
            <div class="form__inputs">
              <input class="input" type="email" placeholder="E-Mail" v-model="user.email">
            </div>
            <button class="btn_blue" @click.prevent="forget">Востановить пароль</button>
            <div class="forget">
              <button class="btn_forget" @click="page = 'signin'" type="button">Я вспомнил пароль</button>
            </div>
          </form>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import axios from 'axios'
  import config from './libs/config.js'
  import cookie from './libs/cookie.js'
  const myApi = axios.create(config.AXIOS_CONF);

  export default {
    data () {
      return {
        page: 'signin',
        error: false,
        error_forget: false,
        user: {
          email: null,
          password: null,
          d_password: null,
          invite: null
        }
      }
    },
    methods: {
      signin: function () {
        var data = new FormData();
        data.append("data", JSON.stringify(this.user));
        myApi.post(config.PATH.users.auth, data)
          .then(function (response) {
            if (response.data.error === 0) {
              this.$emit('reload', response.data.data.id, response.data.data.password, response.data.data.level);
              this.$router.push({ path: '/' });
            } else {
              this.error = true;
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      },
      signup: function () {
        if (this.user.password === this.user.d_password) {
          var data = new FormData();
          data.append("data", JSON.stringify(this.user));
          myApi.post(config.PATH.users.reg, data)
            .then(function (response) {
              if (response.data.error === 0) {
                this.$emit('reload', response.data.data.id, response.data.data.password, response.data.data.level);
                this.$router.push({ path: '/' });
              } else {
                this.error = true;
              }
            }.bind(this))
            .catch(function (error) {
              console.log(error);
            });
        }
      },
      forget: function () {
        var data = new FormData();
        data.append("data", JSON.stringify(this.user));
        myApi.post(config.PATH.users.forget, data)
          .then(function (response) {
            if (response.data.error === 0) {
              console.log(response.data.data);
            } else {
              this.error = true;
            }
          }.bind(this))
          .catch(function (error) {
            console.log(error);
          });
      }
    }
  }
</script>
